In [1]:
# Q. 교육이수현황.xlsx를 열고, 마케팅팀 시트 선택
import xlwings as xw

app = xw.App(add_book=False)
wb = app.books.open('교육이슈현황.xlsx')
ws = wb.sheets['마케팅팀']

In [ ]:
# 데이터 1개 입력 - A1 셀에 '성명' 값 입력
ws.range('A1').value = '성명'

In [3]:
# 데이터 1개 입력 - B1 셀에 '1월' 값 입력
ws.range('B1').value = '1월'

In [4]:
# A1 B1 아래에 리신 12 입력
ws.range('A2').value = '리신'
ws.range('B2').value = 12

In [ ]:
# 데이터 여러 개 입력 - 리스트
ws.range('A3').value = ['이즈리얼', 5]

In [6]:
# 데이터 여러 개 입력 - 2차원 리스트
ws.range('A4').value = [['야스오', 0], ['요네', 0]]

In [ ]:
# 데이터 여러 개 입력 - A6 A7 셀에 세로로 입력
ws.range('A6').options(transpose=True).value = ['피즈', '샤코'] # A6 기준으로 세로 리스트 삽입

In [ ]:
# 데이터 여러 개 입력 - B6 B7 셀에 세로로 입력
ws.range('B6').options(transpose=True).value = [15.5, 8] # B6 기준으로 세로 리스트 삽입

In [ ]:
# Q. A8 셀에 "합계" 입력
# B8 셀에 SUM 수식 삽입 (B2~B7)
ws.range('A8').value = '합계'
ws.range('B8').value = '=sum(B2:B7)'

In [ ]:
# 저장 및 종료
wb.save()
app.quit()